mixin listFooter-item(item)
    div(class="sm:w-auto w-[48%]") 
        h2(class="font-[500] mb-[26px] text-[16px] text-primary") #{item.title}
        ul(class="flex flex-col gap-[16px]")
            li 
                a(href="", class="font-[400] text-[16px] text-[#00000099]") #{item.list1}
            li 
                a(href="", class="font-[400] text-[16px] text-[#00000099]") #{item.list2}
            li 
                a(href="", class="font-[400] text-[16px] text-[#00000099]") #{item.list3}
            li 
                a(href="", class="font-[400] text-[16px] text-[#00000099]") #{item.list4}