mixin product-item(item)
    a(href=item.link class="") 
        div(class="aspect-square bg-[#F0EEED] sm:rounded-[20px] rounded-[13px] truncate sm:mb-[20px] mb-[12px]")
            img(
                src=item.image 
                alt=item.title
                class="h-full w-full object-cover"
            )
        h3(class="sm:mb-[10px] mb-[6px] font-[700] text-primary sm:text-[18px] text-[14px]") #{item.title}
        div(class="flex items-center sm:gap-x-[13px] gap-x-[11px]")
            div(class="inline-flex sm:gap-x-[5px] gap-x-[4px] text-[#FFC633] sm:text-[18px] text-[15px]")
                - for(var i = 1; i <= item.stars; i++)
                    i(class="fa-solid fa-star")
                - for(var j = item.stars + 1; j <= 5; j++)
                    i(class="fa-regular fa-star")
            div(class="text-[#00000099] font-[400] sm:text-[14x] text-[12px]")
                | #{item.stars}/5
        div(class="flex flex-wrap items-center gap-x-[10px] gap-y-[6px] mt-[5px]")
            div(class="font-[700] sm:text-[18px] text-[14px] text-primary") 
                | #{item.discount > 0 ? item.priceSpecial.toLocaleString() : item.price.toLocaleString("vi-VN")}đ
            if(item.discount > 0)
                div(class="font-[700] sm:text-[14px] text-[12px] text-[#00000066] line-through") 
                    | #{item.price.toLocaleString("vi-VN")}đ
                div(class="bg-[#FF33331A] rounded-[62px] px-[14px] py-[6px] text-[#FF3333] sm:text-[12px] text-[10px] font-[500]") 
                    | -#{item.discount}%